body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.navbar {
  background-color: #071ba3;
  color: #fff;
  padding: 1rem;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline-block;
  margin-right: 1rem;
}

.navbar li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.navbar li a:hover {
  text-decoration: underline;
}

.filter-container {
  text-align: center;
  margin-bottom: 2rem;
}

.filter-input {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  width: 50%;
  max-width: 500px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.filter-input:focus {
  outline: none;
  border-color: #ffcc00;
  box-shadow: 0 0 0 2px rgba(255, 204, 0, 0.2);
}

.restaurant-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  padding: 0;
  list-style: none;
}

.restaurant-item {
  flex: 1 1 calc(33.333% - 1.5rem);
  max-width: calc(33.333% - 1.5rem);
}

.card {
  background-color: #fff;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.button {
  background-color: #071ba3;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  font-size: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
  background-color: #000432;
}

.heart-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  aspect-ratio: 1;
  position: relative;
  border-image: radial-gradient(red 69%, #0000 70%) 84.5%/50%;
  clip-path: polygon(-41% 0, 50% 91%, 141% 0);
}

.heart-icon::before,
.heart-icon::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  border: 2px solid rgb(0, 51, 255); /* Blue border */
}

.heart-icon::before {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  clip-path: polygon(-41% 0, 50% 91%, 141% 0); /* Matching clip-path */
}

.heart-icon::after {
  top: 50%;
  left: 0;
  clip-path: polygon(-41% 0, 50% 91%, 141% 0);
}

.heart-icon.favourited::before,
.heart-icon.favourited::after {
  background-color: #ff0000; /* Red fill when favourited */
  border-color: #ff0000; /* Red border when favourited */
}